@use '../globals' as g;

.scrum-app {
    height: 100%;
	width: 100%;
	padding: 0 1rem 1rem;
    overflow: hidden;
	@include g.flexbox(column, flex-start);

	& p span {
		font-style: italic;
		color: #19191984;
	}
}
.scrum-header {
    flex: 0.4;
    @include g.flexbox(column, space-around);
    width: 100%;
}
.scrum-taskbar {
	@include g.flexbox(row, space-between);
	width: 60%;
	& textarea {
		// reset
		outline: 0;
		resize: none;
		flex: 1;
		height: 50px;
		padding: 1rem 1rem;
		border: 1px groove goldenrod;
		font-family: transparent;
		background: transparent;
		font-size: 2rem;
		overflow-y: scroll;
		white-space: pre-wrap;
        box-shadow: 2px 2px 4px #191919;

		&::-webkit-scrollbar {
			display: none;
		}
	}
	& select {
		/* Reset Select */
		border: 0;
		outline: 0;
		appearance: none;
		box-shadow: none;
		/* Personalize */
		width: 100px !important;
		height: 50px !important;
		padding: 1rem 0.5rem;
		margin-left: 0.3rem;
		font-weight: 700;
		text-align: center;
		color: #fff;
		background-color: #2c3e50;
        box-shadow: 2px 2px 4px #191919;
		cursor: pointer;

		& option[value='higher'] {
			background: red;
		}
		& option[value='high'] {
			background: yellow;
			color: #191919;
		}
		& option[value='medium'] {
			background: #191919;
		}
		& option[value='low'] {
			background: #1b6161;
		}
		& option[value='lower'] {
			background: #c3cce1;
		}
	}
	& button {
		border: 0;
		outline: 0;
		width: 100px !important;
		height: 50px !important;
		padding: 1rem 0.5rem;
		margin-left: 0.3rem;
		font-size: 1.6rem;
		font-weight: 700;
		background: #191919;
		color: #f9f9f9;
        box-shadow: 2px 2px 4px #191919;
	}
}

.scrum-dashboard {
    flex: 0.6;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-start;
	gap: 1rem;
	width: 100%;
	& .scrum-col {
		@include g.flexbox(column, flex-start);
		width: calc(100% / 5);
		overflow: hidden !important;
		& h3 {
			text-align: center;
			padding: 1rem 0;
			width: 100%;
		}
		& .scrum-list {
			@include g.flexbox(column, flex-start);
			width: 100%;
		    height: 50vh;
			margin-top: 1rem;
            background-color: #2c3e5015;
			overflow-y: scroll;
			&::-webkit-scrollbar {
				// display: none;
                width: 5px;
                // background: goldenrod;
			}
			&::-webkit-scrollbar-thumb {
                // display: none;
                background-color: #2c3e50;
                width: 5px;
			}
			& .task {
				@include g.flexbox(row, flex-start);
				width: 100%;
				margin-bottom: 0.5rem;
				border: 1px groove goldenrod;
                box-shadow: 2px 2px 4px #191919;

				& .task-status {
					width: 10px;
					height: 30px;
					&.higher {
						background: red;
					}
					&.high {
						background: yellow;
					}
					&.medium {
						background: #191919;
					}
					&.low {
						background: #1b6161;
					}
					&.lower {
						background: #c3cce1;

					}
				}
				& .task-content {
					flex: 1;
					padding: 1rem;
					white-space: pre-wrap;
				}
			}
		}
		&.odd {
			& h3 {
				border-bottom: 3px groove #191919;
			}
		}
		&.even {
			& h3 {
				border-bottom: 3px groove #f9f9f9;
			}
		}
		& .task.higher {
			order: 1 !important;
			animation: fadeUp 0.5s;
		}
		& .task.high {
			order: 2 !important;
			animation: fadeUp 0.5s;
		}
		& .task.medium {
			order: 3 !important;
		}
		& .task.low {
			order: 4 !important;
			animation: fadeDown 0.5s;
		}
		& .task.lower {
			order: 5 !important;
			animation: fadeDown 0.5s;
		}
	}
	& #backlog .task {
		background: rgba(218, 165, 32, 0.75);
		color: #191919;
	}

	& #inprogress .task {
		background: rgba(27, 95, 95, 0.75);
		color: #f9f9f9;
	}

	& #emergency .task {
		background: rgba(162, 45, 34, 0.75);
		color: #f9f9f9;
	}

	& #testing .task {
		background: rgba(195, 204, 225, 0.75);
		color: #191919;
	}

	& #done .task {
		background: #eae5e6;
		color: #191919;
        text-decoration: line-through;
        opacity: 75%;
	}
}

@keyframes fadeDown {
	0% {
		opacity: 0;
		background-color: rgba(255, 255, 255, 0.4);
		transform: translateY(20px);
	}
	50% {
		opacity: 1;
		background-color: rgba(255, 255, 255, 0.4);
	}
}

@keyframes fadeUp {
	0% {
		opacity: 0;
		background-color: rgba(255, 255, 255, 0.4);
		transform: translateY(-20px);
	}
	50% {
		opacity: 1;
		background-color: rgba(255, 255, 255, 0.4);
	}
}
