.authorQuote {
	& p {
		min-width: 700px;
        max-width: max-content;
		font-size: 4rem;
		font-weight: 900;
		color: #fff;
		text-shadow: #ccc 0 1px 0, #c9c9c9 0 2px 0, #bbb 0 3px 0,
			#b9b9b9 0 4px 0, #aaa 0 5px 0, rgba(0, 0, 0, 0.1) 0 6px 1px,
			rgba(0, 0, 0, 0.1) 0 0 5px, rgba(0, 0, 0, 0.3) 0 1px 3px,
			rgba(0, 0, 0, 0.15) 0 3px 5px, rgba(0, 0, 0, 0.2) 0 5px 10px,
			rgba(0, 0, 0, 0.2) 0 10px 10px, rgba(0, 0, 0, 0.1) 0 20px 20px;
		font-family: 'Great Vibes', cursive;
		letter-spacing: 0.25rem;

		&:nth-child(2) {
			text-align: center;
		}

		&:nth-child(3) {
			text-align: right;
		}

		& span {
			color: yellow;
		}
	}
}
